#portfolio {
  padding: 70px 30px;
}

#portfolio .btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

#portfolio .btn-group .active {
  background-color: var(--bgColor2);
}

#portfolio .btn-group button {
  font-size: 1rem;
  text-transform: capitalize;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  border: none;
  background-color: var(--themeColor);
  color: #fff;
  transition: all 0.5s ease;
}

#portfolio .btn-group button:hover {
  background-color: var(--bgColor2);
  cursor: pointer;
  transform: scale(1.2);
}

#portfolio .port-row {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
}

#portfolio .port-row .port-item {
  height: 300px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
}

#portfolio .port-row .port-item .port-img img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

#portfolio .port-row .port-item .port-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--themeColor);
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transform: scale(0);
  transition: 0.4s ease;
  border-radius: 10px;
  visibility: hidden;
}

#portfolio .port-row .port-item:hover .port-info {
  transform: scale(1);
  visibility: visible;
}

#portfolio .port-row .port-item .port-info h4 {
  color: var(--bgColor);
  font-size: 25px;
  font-weight: 600;
}

#portfolio .port-row .port-item .port-info h4 + p {
  color: var(--bgColor);
  font-size: 14px;
}

#portfolio .port-row .port-item .port-info a {
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 45px;
  height: 45px;
  background-color: var(--bgColor);
  border-radius: 50%;
  color: var(--themeColor);
  line-height: 46px;
  transition: 0.4s;
}

#portfolio .port-row .port-item .port-info a:hover {
  background-color: var(--sideBGColor);
  color: var(--bgColor);
}

/*! Mobile View */
@media only screen and (max-width: 850px) {
  #portfolio .port-row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 650px) {
  #portfolio {
    padding: 50px 10px;
  }

  #portfolio .port-row {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
  }
}

/* @media only screen and (max-width: 350px) {
  #portfolio .port-row {
    grid-template-columns: repeat(1, 1fr);
  }
} */