#skill {
  padding: 70px 30px;
}

#skill .skill-row {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.7rem;
}

#skill .skill-row .skill-box .skill-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

#skill .skill-row .skill-box .skill-info h2 {
  color: var(--sideBGColor);
  font-weight: 600;
  font-size: 15px;
  font-style: italic;
}

#skill .skill-row .skill-box .skill-outter-line {
  width: 100%;
  height: 10px;
  background-color: rgb(173, 171, 171);
  border-radius: 15px;
}

#skill .skill-row .skill-box .skill-outter-line .skill-inner-line {
  height: 10px;
  background-color: var(--themeColor);
  border-radius: 20px;
}

/*! Mobile View */
@media only screen and (max-width: 450px) {
  #skill {
    padding: 50px 15px;
  }
  #skill .skill-row {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
}