@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Global Variables */
:root {
  --sideBGColor: #040b14;
  --themeColor: #00a78e;
  --iconBGColor: #2c2f3f;
  --textColor: #525252;
  --bgColor: #d8d5d5;
}

/*? <-- ------------------------------------------------------------------------------------ --> */

/*? ===== MAIN SECTION ===== */
main {
  margin-left: 300px;
  background-color: var(--bgColor);
  transition: 0.3s;
  position: relative;
}
@media only screen and (max-width: 1050px) {
  main {
    margin-left: 0;
  }
}

/*? <-- ------------------------------------------------------------------------------------ --> */

/*? ===== Fact Section START ===== */
#fact {
  padding: 50px 30px;
  background-color: #fff;
}

#fact .fact-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-top: 50px;
}

#fact .fact-row .fact-box i {
  color: var(--themeColor);
  font-size: 40px;
}
#fact .fact-row .fact-box strong {
  color: var(--sideBGColor);
  font-size: 30px;
  margin-left: 5px;
  font-weight: 600;
}

#fact .fact-row .fact-box p {
  color: var(--textColor);
  font-size: 16px;
  font-weight: 600;
}

/*! Mobile View */
@media only screen and (max-width: 700px) {
  #fact {
    padding: 40px 15px;
  }
  #fact .fact-row {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}

@media only screen and (max-width: 370px) {
  #fact .fact-row .fact-box i {
    font-size: 30px;
  }
  #fact .fact-row .fact-box strong {
    font-size: 20px;
  }

  #fact .fact-row .fact-box p {
    font-size: 14px;
    font-weight: 400;
  }
}
/*? ===== Fact Section END ===== */

/*? <-- ------------------------------------------------------------------------------------ --> */

/*? ===== Portfolio Section START ===== */

/*? ===== Portfolio Section END ===== */

/*? <-- ------------------------------------------------------------------------------------ --> */

/*? ===== Services Section START ===== */

/*? ===== Services Section END ===== */

/*? <-- ------------------------------------------------------------------------------------ --> */

/*? ===== Contact Section START ===== */


/*? ===== Contact Section END ===== */
