@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Global Variables */
:root {
  --sideBGColor: #040b14;
  --themeColor: #00a78e;
  --iconBGColor: #2c2f3f;
  --textColor: #525252;
  --bgColor: #d8d5d5;
  --bgColor2: #ff4500;
}

/*? <-- ------------------------------------------------------------------------------------ --> */

/*? ===== MAIN SECTION ===== */
main {
  margin-left: 300px;
  background-color: var(--bgColor);
  transition: 0.3s;
  position: relative;
}
@media only screen and (max-width: 1050px) {
  main {
    margin-left: 0;
  }
}

/*? <-- ------------------------------------------------------------------------------------ --> */


