@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Global Variables */
:root {
  --sideBGColor: #040b14;
  --themeColor: #00a78e;
  --iconBGColor: #2c2f3f;
  --textColor: #525252;
  --bgColor: #d8d5d5;
}

/*? ===== Header START ===== */


/*? ===== Header END ===== */

/*? <-- ------------------------------------------------------------------------------------ --> */

/*? ===== MAIN SECTION ===== */
main {
  margin-left: 300px;
  background-color: var(--bgColor);
  transition: 0.3s;
}
@media only screen and (max-width: 1050px) {
  main {
    margin-left: 0;
  }
}

/*? ===== Home Section START ===== */

/*? ===== Home Section END ===== */


/*? ===== About Section START ===== */

/*? ===== About Section END ===== */

/*? <-- ------------------------------------------------------------------------------------ --> */

/*? ===== Fact Section START ===== */
#fact {
  padding: 50px 30px;
  background-color: #fff;
}

#fact .fact-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-top: 50px;
}

#fact .fact-row .fact-box i {
  color: var(--themeColor);
  font-size: 40px;
}
#fact .fact-row .fact-box strong {
  color: var(--sideBGColor);
  font-size: 30px;
  margin-left: 5px;
  font-weight: 600;
}

#fact .fact-row .fact-box p {
  color: var(--textColor);
  font-size: 16px;
  font-weight: 600;
}

/*! Mobile View */
@media only screen and (max-width: 700px) {
  #fact {
    padding: 40px 15px;
  }
  #fact .fact-row {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}

@media only screen and (max-width: 370px) {
  #fact .fact-row .fact-box i {
    font-size: 30px;
  }
  #fact .fact-row .fact-box strong {
    font-size: 20px;
  }

  #fact .fact-row .fact-box p {
    font-size: 14px;
    font-weight: 400;
  }
}
/*? ===== Fact Section END ===== */

/*? <-- ------------------------------------------------------------------------------------ --> */

/*? ===== Skills Section START ===== */
#skill {
  padding: 70px 30px;
}

#skill .skill-row {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

#skill .skill-row .skill-box .skill-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

#skill .skill-row .skill-box .skill-info h2 {
  color: var(--sideBGColor);
  font-weight: 600;
  font-size: 15px;
  font-style: italic;
}

#skill .skill-row .skill-box .skill-outter-line {
  width: 100%;
  height: 10px;
  background-color: rgb(173, 171, 171);
  border-radius: 15px;
}

#skill .skill-row .skill-box .skill-outter-line .skill-inner-line {
  height: 10px;
  background-color: var(--themeColor);
  border-radius: 20px;
}

/*! Mobile View */
@media only screen and (max-width: 450px) {
  #skill {
    padding: 50px 15px;
  }
  #skill .skill-row {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
}
/*? ===== Skills Section END ===== */

/*? <-- ------------------------------------------------------------------------------------ --> */

/*? ===== Resume Section START ===== */
#resume {
  padding: 70px 30px;
  background-color: #fff;
}

#resume .resume-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 35px;
}

#resume .resume-row .resume-cols {
  flex-basis: 50%;
}

#resume .resume-row .resume-cols h2 {
  color: var(--sideBGColor);
  font-weight: 600;
  font-style: 25px;
  margin: 15px 0;
}

#resume .resume-row .resume-cols .my-info {
  padding: 0 20px;
  margin: 20px 0;
  border-left: 1px solid var(--themeColor);
  position: relative;
}

#resume .resume-row .resume-cols .my-info::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid var(--themeColor);
  background-color: #fff;
}

#resume .resume-row .resume-cols h3 {
  color: var(--sideBGColor);
  font-style: 17px;
  font-weight: 600;
  text-transform: uppercase;
}

#resume .resume-row .resume-cols .my-info p {
  color: var(--textColor);
  font-style: 15px;
  font-weight: 600;
  font-style: italic;
  margin: 10px 0;
}

#resume .resume-row .resume-cols .my-info ul li {
  margin: 10px 0;
  margin-left: 20px;
  color: var(--textColor);
  font-style: 15px;
  font-weight: 500;
}

#resume .resume-row .resume-cols .my-edu {
  padding: 0 20px;
  border-left: 2px solid var(--themeColor);
  position: relative;
}

#resume .resume-row .resume-cols .my-edu::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid var(--themeColor);
  background-color: #fff;
}

#resume .resume-row .resume-cols .sp-box {
  padding: 4px 22px;
  background-color: lightblue;
  color: var(--textColor);
  border-radius: 3px;
  font-style: 14px;
  font-weight: 600;
  font-style: italic;
  margin: 15px 0;
  display: inline-block;
}

#resume .resume-row .resume-cols .my-edu + p {
  color: var(--textColor);
  font-style: 15px;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 15px;
}

#resume .resume-row .resume-cols .my-edu + p + p {
  color: var(--textColor);
  font-style: 15px;
  font-weight: 500;
  padding: 15px;
}

#resume .resume-row .resume-cols .pro-exp {
  padding: 0 20px 10px;
  border-left: 2px solid var(--themeColor);
  position: relative;
}

#resume .resume-row .resume-cols .pro-exp::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid var(--themeColor);
  background-color: #fff;
}

#resume .resume-row .resume-cols .pro-exp p {
  color: var(--textColor);
  font-style: 17px;
  font-weight: 500;
  padding: 15px;
  font-style: italic;
}

#resume .resume-row .resume-cols .pro-exp ul li {
  margin: 10px 0;
  margin-left: 20px;
  color: var(--textColor);
  font-style: 15px;
  font-weight: 500;
}

/*! Mobile View */
@media only screen and (max-width: 820px) {
  #resume {
    padding: 50px 15px;
  }

  #resume .resume-row {
    flex-direction: column;
  }

  #resume .resume-row .resume-cols {
    flex-basis: 100%;
  }
}
/*? ===== Resume Section END ===== */

/*? <-- ------------------------------------------------------------------------------------ --> */

/*? ===== Portfolio Section START ===== */
#portfolio {
  padding: 70px 30px;
}

#portfolio .port-row {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
}

#portfolio .port-row .port-item {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
}

#portfolio .port-row .port-item .port-img img {
  width: 100%;
  border-radius: 10px;
}

#portfolio .port-row .port-item .port-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--themeColor);
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transform: scale(0);
  transition: 0.4s ease;
  border-radius: 10px;
  visibility: hidden;
}

#portfolio .port-row .port-item:hover .port-info {
  transform: scale(1);
  visibility: visible;
}

#portfolio .port-row .port-item .port-info h4 {
  color: var(--bgColor);
  font-size: 25px;
  font-weight: 600;
}

#portfolio .port-row .port-item .port-info h4 + p {
  color: var(--bgColor);
  font-size: 14px;
}

#portfolio .port-row .port-item .port-info a {
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 45px;
  height: 45px;
  background-color: var(--bgColor);
  border-radius: 50%;
  color: var(--themeColor);
  line-height: 46px;
  transition: 0.4s;
}

#portfolio .port-row .port-item .port-info a:hover {
  background-color: var(--sideBGColor);
  color: var(--bgColor);
}

/*! Mobile View */
@media only screen and (max-width: 650px) {
  #portfolio {
    padding: 50px 10px;
  }

  #portfolio .port-row {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}

@media only screen and (max-width: 350px) {
  #portfolio .port-row {
    grid-template-columns: repeat(1, 1fr);
  }
}
/*? ===== Portfolio Section END ===== */

/*? <-- ------------------------------------------------------------------------------------ --> */

/*? ===== Services Section START ===== */
#services {
  padding: 70px 30px;
  background-color: #fff;
}

#services .service-row {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

#services .service-row .service-box {
  display: flex;
  gap: 20px;
}

#services .service-row .service-box .icon i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--themeColor);
  font-size: 22px;
  line-height: 46px;
  color: #fff;
  background-color: var(--themeColor);
  transition: 0.5s;
  text-align: center;
  cursor: pointer;
}

#services .service-row .service-box:hover .icon i {
  color: var(--themeColor);
  background-color: var(--bgColor);
}

#services .service-row .service-box .user-info h4 {
  color: var(--sideBGColor);
  font-size: 20px;
  font-weight: 600;
}

#services .service-row .service-box .user-info h4 + p {
  color: var(--textColor);
  font-size: 14px;
  font-weight: 500;
}

/*! Mobile View */
@media only screen and (max-width: 850px) {
  #services {
    padding: 50px 10px;
    background-color: #fff;
  }

  #services .service-row {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}

@media only screen and (max-width: 550px) {
  #services .service-row {
    grid-template-columns: repeat(1, 1fr);
  }
}
/*? ===== Services Section END ===== */

/*? <-- ------------------------------------------------------------------------------------ --> */

/*? ===== Contact Section START ===== */
#contact {
  padding: 70px 30px;
  background-color: #fff;
}

#contact .contact-row {
  width: 100%;
  margin-top: 50px;
  display: flex;
  gap: 20px;
}

#contact .contact-row .contact-left {
  flex-basis: 40%;
  min-width: 40%;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
  border-radius: 4px;
  padding: 30px;
}

#contact .contact-row .contact-left .icon-box {
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 30px 0;
}

#contact .contact-row .contact-left .icon-box .icon i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--themeColor);
  text-align: center;
  line-height: 47px;
  font-size: 20px;
  color: var(--themeColor);
  transition: 0.5s;
}

#contact .contact-row .contact-left .icon-box:hover .icon i {
  background-color: var(--themeColor);
  color: var(--bgColor);
}

#contact .contact-row .contact-left .icon-box .info h4 {
  font-size: 20px;
  color: var(--sideBGColor);
  font-weight: 600;
}

#contact .contact-row .contact-left .icon-box .info h4 + p {
  font-size: 15pxpx;
  color: var(--textColor);
  font-weight: 500;
}

#contact .contact-row .contact-right {
  flex-basis: 60%;
  min-width: 60%;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
  border-radius: 4px;
  padding: 30px;
}

#contact .contact-row .contact-right form input,
#contact .contact-row .contact-right form textarea {
  display: block;
  width: 100%;
  margin: 30px 0;
  font-size: 15px;
  font-weight: 500;
  color: var(--textColor);
  padding: 10px 20px;
  border: 2px solid lightgray;
  border-radius: 2px;
  outline: none;
  resize: none;
  transition: 0.5s;
}

#contact .contact-row .contact-right form input:focus,
#contact .contact-row .contact-right form textarea:focus {
  border: 2px solid var(--themeColor);
}

#contact .contact-row .contact-right form input[type="submit"] {
  background-color: var(--themeColor);
  color: #fff;
  border: 2px solid var(--themeColor);
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
}

/*! Mobile View */
@media only screen and (max-width: 800px) {
  #contact {
    padding: 50px;
  }

  #contact .contact-row {
    flex-direction: column;
     gap: 10px;
  }
}

@media only screen and (max-width: 500px) {
  #contact {
    padding: 50px 10px;
  }
}

/*? ===== Contact Section END ===== */
